.listItems:hover {
	background: #ffeb00;
}

.containerStyle {
	display: flex;
	flex-direction: column;
	margin-left: 10%;
}

.App {
	background: linear-gradient(110deg, white 70%, #ffeb00 30%);
	height: 100vh;
}

.formTopSpace {
	margin-top: 5%;
}

.spaceBetweenFormElements {
	margin: 10px;
}

.buttonBackgroundStyle {
	background-color: #ffeb00;
	cursor: pointer;
	width: max-content;
	border-radius: 5px;
	text-align: center;
}

.buttonTextStyle {
	text-align: center;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 15px;
	text-transform: uppercase;
	font-weight: bold;
}

.textFieldStyle {
	background-color: transparent;
	width: 100%;
	padding: 12px 20px;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	min-width: 100px;
	max-width: 300px;
}

.modalHeaderStyle {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.dropDownContainerStyle {
	position: relative;
}

.dropDownStyle {
	position: absolute;
	width: 340px;
	height: 150px;
	overflow: auto;
	border: 1px solid #ddd;
	z-index: 1;
	background-color: whitesmoke;
}

.dropDownTextStyle {
	cursor: pointer;
	padding-left: 15px;
}

.listItems {
	display: flex;
	flex-direction: column;
}

.interestsContainer {
	display: flex;
	flex-direction: row;
}

.interestTextStyle {
	display: flex;
	flex-direction: row;
	margin-right: 20px;
	background-color: #f2f4f7;
	border-radius: 4px;
	padding: 8px;
	cursor: pointer;
}

.interestTextSpacing {
	margin: 2px;
}

.labelStyle {
	color: red;
	font-size: 12px;
	margin-top: 5px;
}

.cursorStyle {
	cursor: pointer;
}